<style type="text/css">
/* 공통 */
.tab-box {
	margin: 50px auto 0 auto;
	width: 520px;
}

.tab-box ul {
	height: 30px;
}

.tab-box li {
	float: left;
	width: 100px;
	height: 30px;
	line-height: 30px; /* 중앙정렬 */
	margin-right: 2px;
	text-align: center;
	background-color: #70c745;
	border-radius: 3px 3px 0 0;
	cursor: pointer;
}

.tab-box li.selected {
	background-color: #70c745;
}

.tab-view {
	width: 506px;
	height: 100px;
	line-height: 100px;
	border: 1px solid #70c745;
	text-align: center;
	margin-top: -1px;
}

.tbl-ex {
	margin: 0px auto 0px auto;
}

.tbl-ex, .tbl-ex th, .tbl-ex td {
	border: 1px solid #70c745;
	border-width: 1px 0;
	border-collapse: collapse;
	padding: 1px;
}

.tbl-ex th {
	background-color: #999;
	font-size: 1.1em;
	color: #fff;
	border-width: 2px 0;
}

.tbl-ex tr:hover td {
	background-color: #70c745;
	cursor: pointer;
}

.even {
	background-color: highlight;
}
/* 공통 끝 */

/* knowledge 스타일 적용 시작 */
.knowledge_ul li{
display:inline;
}
#knowledge_div{
	margin-top: 30px;
}
.knowledge_div2{
width:49.8%;
height:50px;
display:inline-block;
padding-top:5px;
padding:0;
margin:0;
	outline:0;
}
.knowledge_div2 button:hover,
.knowledge_div2 button:focus {
	outline: none;
}
.knowledge_div2 button{
	outline:0;
	border:none;	
}
#knowledge_div3{
	width: 100%; 
	margin-top:20px;
	display:inline-block;
}
.knowledge_h4{
	display:inline;
	float:left;
}

.knowledge_select {
	float:right;
	height: 45px;
	width: 250px;
	border: 2px solid #70c745;
	border-radius: 4px;
	background: #ffffff;
}

.knowledge_select2 {
	font-size: 13px;
	width: 195px;
	height:38px;
	padding: 10px;
	border: 0px;
	outline: none;
	float: left;
}

.knowledge_select3 {
	width: 50px;
	height: 100%;
	border: 0px;
	background: #70c745;
	outline: none;
	float: right;
	color: #fff;
}

#knowledge_button{
	width:90px;
	height:30px;
	background-color:#70c745; 
	border:none;
}
/* knowledge 스타일 적용 종료 */

/* knowledgeWriteForm 스타일 적용 시작 */
.knowledgeWriteForm_Reward{
	width:300px;
	height:210px;
	padding:10px;
	border:1px solid black;
	display:none;
	position: absolute;
	top:40px;
	z-index:2;
	background:#fff;
}
.knowledgeWriteForm_Reward table{
	width:100%;
	height:80%;
	border-collapse:collapse;
	text-align:center;
}
.knowledgeWriteForm_Reward_th{
	width:20%;
	border:1px solid black;
}

.knowledgeWriteForm_button3{
	width:100px;
	height:35px;
	background-color:#70c745; 
	border:none;
}
/* knowledgeWriteForm 스타일 적용 종료 */

/* knowledgeDetailForm 스타일 적용 시작 */
.kCommentModifyUpdate{
	display:none;	
}
.knowledgeDetailForm_button2{
	width:130px;
	height:50px;
	background-color:#70c745; 
	border:none;
}
.knowledgeDetailForm_button3{
	width:100px;
	height:35px;
	background-color:#70c745; 
	border:none;
}
.knowledgeDetailForm_button4{
	width:60px;
	height:25px;
	font-size:12px;
	background-color:#70c745; 
	border:none;
}
/* knowledgeDetailForm 스타일 적용 종료 */
</style>